<title>YTPS Credits</title>

{% extends 'base.html' %}

{% block body %}
    <div style="background-color: #1b1b19;">
        <h1 class="title_2" style="color: #ecece3;">Credits</h1>
        <p class="content_white" style="margin-left: 12px; margin-right: 12px;">YTPS is only possible due to the projects given below without which YTPS would be nothing. YTPS on it's own doesn't scrap youtube. Because obivious I am not that advanced. Instead it uses community trusted modules and services and compiles them all into a neat little bundle. Please if you like any of these projects, please contribute to their developers. Links are provided with the credits.</p>
        <p class="content_white" style="margin-left: 12px; margin-right: 12px;"><a href="{{ urls[3] }}" class="link_white">youtube-search-python</a>: Channel Information and Scraping => <a href="https://www.buymeacoffee.com/alexmercerind" class="link_white">Donate</a>.</p>
        <p class="content_white" style="margin-left: 12px; margin-right: 12px;"><a href="{{ urls[2] }}" class="link_white">youtube-search</a>: Scraping Results => <a href="https://github.com/joetats/youtube_search" class="link_white">Github</a></p>
        <p class="content_white" style="margin-left: 12px; margin-right: 12px;"><a href="{{ urls[6] }}" class="link_white">pytube</a>: Video Stream Scraping => <a href="https://pypi.org/project/pytube/" class="link_white">PyPi</a></p>
        <p class="content_white" style="margin-left: 12px; margin-right: 12px;"><a href="{{ urls[4] }}" class="link_white">Flask</a>: Backend and Brain => <a href="https://flask.palletsprojects.com/en/2.0.x/" class="link_white">Website</a></p>
        <p class="content_white" style="margin-left: 12px; margin-right: 12px;"><a href="{{ urls[1] }}" class="link_white">Heroku</a>: Deployment => <a href="https://www.heroku.com/" class="link_white">Website</a></p>
        <p class="content_white" style="margin-left: 12px; margin-right: 12px;"><a href="{{ urls[7] }}" class="link_white">Github</a>: Collaboration and Maintainance => <a href="https://github.com" class="link_white">Website</a></p>
        <p class="content_white" style="margin-left: 12px; margin-right: 12px;"><a href="{{ urls[0] }}" class="link_white">SimpleIcons</a>: Footer Icons => <a href="https://github.com/simple-icons/simple-icons" class="link_white">Github</a></p>
        <p class="content_white" style="margin-left: 12px; margin-right: 12px;"><a href="{{ urls[10] }}" class="link_white">RealFaviconGenerator</a>: Cross Platform Favicon Generation => <a href="https://realfavicongenerator.net/donate" class="link_white">Donate</a></p>
        <p class="content_white" style="margin-left: 12px; margin-right: 12px;"><a href="{{ urls[8] }}" class="link_white">Youtube</a>: Video Provider => <a href="https://youtube.com" class="link_white">Website</a></p>
        <p class="content_white" style="margin-left: 12px; margin-right: 12px;"><a href="{{ urls[9] }}" class="link_white">Command Line</a>: CLI for YTPS => <a href="https://pypi.org/project/ytps/" class="link_white">Get it</a></p>
        <p class="content_white" style="margin-left: 12px; margin-right: 12px;"><a href="{{ urls[5] }}" class="link_white">Development</a>: NoobScience => <a href="https://github.com/newtoallofthis123" class="link_white">Contribute</a></p>
        <h1 class="title_2" style="color: #ecece3; padding-top: 12px; padding-bottom: 12px;">Thank You for Using YTPS and Hope you enjoy using it.</h1>
    </div>
{% endblock %}