{% extends 'base.html' %}

{% block body %} 
    <div style="background-image: linear-gradient(to right, rgb(149, 10, 230), rgb(45, 16, 207)); padding-bottom: 19%; padding-top: 11%;">
        <h1 class="middle_attraction">YTPS LIVE 🚀</h1>
        <p class="sub_heading_white">YTPS into a website</p>
        <div>
            <form action="{{ url_for("search_temp")}}" method="post" style="padding-left: 20%;">
                <input type="text" id="ytsearch" name="ytsearch" placeholder="Search YTPS" style="width: 60%;">
        </div>
    </div>
{% endblock %}