<title>YTPS License</title>

{% extends 'base.html' %}

{% block body %}
    <div style="background-color: #1b1b19;">
        <h1 class="title_2" style="color: #ecece3;">License</h1>
        <h1 class="sub_heading_white">Videos and Video Assets</h1>
        <p class="content_white" style="margin-left: 24px; margin-right: 24px; background-color: rgb(39, 36, 36); font-family: 'Cascadia Code', 'Courier New', Courier, monospace; padding: 12px; border-radius: 12px;">
            Copyright © 2021 Youtube
            <br><br>
            The Videos and Video assets are all scraped from youtube. These are hence not owned or the responsibility of the site. Due to not being able to disable the download option (it requires 3rd party javascript libraries), it is the user's responsibility to not misuse the download option.
            <br><br>
            If the user is looking for options to download youtube videos, he or she should look into youtube-dl. This is a hobby project. Even though the site code and assets are open source, the video and video assets it scraps from youtube are not.
            <br><br>
            You are free to use the site code as you like, but not the video and video assets. Please be responsible.
        </p>
        <h1 class="sub_heading_white">License for Code and Site Assets</h1>
        <p class="content_white" style="margin-left: 24px; margin-right: 24px; background-color: rgb(39, 36, 36); font-family: 'Cascadia Code', 'Courier New', Courier, monospace; padding: 12px; border-radius: 12px;">
            Copyright © 2021 NoobScience
            <br><br>
            Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
            <br><br>
            The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
            <br><br>
            THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
        </p>
    </div>
{% endblock %}