<title>Search Results for : {{ search_title }}</title>

{% extends 'base.html' %}

{% block body %} 
    <div style="background-color: #1b1b19;">
        <div>
            <form action="{{ url_for("search_temp")}}" method="post">
              <input type="text" id="ytsearch" name="ytsearch" placeholder="Search YTPS">
              <!-- <button type="submit" class="login_btn">Login</button> -->
            </form>
        </div>
        <h1 class="title_2" style="color: #ecece3; padding-bottom: 12px;">Showing Results for {{ search_title }}</h1>
        <table style="background-color: #1b1b19; padding-left: 12px;">
            {% for i in items %}
                {% set video_url = '/play/' + i["id"] %}
                <tr>
                    <td><a href="{{ video_url }}" class="link_white"><img src="{{ i["thumbnails"][0] }}" alt="video thumnail" style="margin-bottom: 12px; padding-right: 12px; width: 360px; height: 204px;";></a></td>
                    <td><a href="{{ video_url }}" class="link_white">{{ i["title"] }}</a> <p class="content_white">{{ i["views"] }}</p> <p class="content_white">{{ i["channel"] }} </p> <p class="content_white">{{ i["publish_time"] }}</p> </td>
                    <td>
                        <form action="{{ url_for("play_temp") }}" method="POST">
                            <input type="hidden" value="{{ i["id"] }}" name="play_btn">
                            <!-- <button type="submit">Play</button> -->
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}